html{
	font-size: 62.5%;
}
*{
	box-sizing: border-box;
}
body{
	margin: 10.4rem 0 0 0;
	font-family: 'Montserrat';	
	.clearfix{
		clear: both;
	}
}
.preload{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: white;

	.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
		.preload-img{
			position: relative;
			margin: 2rem 0;
			padding-left: 0.4rem;

				#pre-load{
				position: absolute;
				top:0;
				left: 2rem;
			}
		}
		.circle {
		display: inline-block;
		width: 10px;
		height: 10px;
		background: black;
		border-radius: 50%;
		margin-right: 10px;
		
		animation-name: circular;
		animation-duration: .45s;
		animation-iteration-count: infinite;
		animation-direction: alternate-reverse;
		animation-timing-function: ease-in-out;
	}

	.middle {
		animation-delay: .15s;
	}

	.right {
		animation-delay: .3s;
	}
}

}

.navigation{
	position: fixed;
	height: 10.4rem;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 5;
	width: 100%;
	padding: 3rem 0;
	transition: 0.7s;
	
	.top{
		height: 100%;
		.navbar-brand{
			padding: 0;
			div{
				position: relative;
				#move{
					position: absolute;
					top:0;
					left: 1.4rem;
				}
			}
		}
		.list{
		height: 4.1rem;
		padding: 1rem 0;
		ul{
		margin: 0;
		padding-right: 3.5rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style-type:none;
		a{
			text-decoration: none;
			color: #635c73;
		}
	}
	}
		.btn-nav{
			height: 4.1rem;
			
			button{
				margin: 0;
				color: white;
				border: none;
				background-color: #8d81ac;
				border-radius: 1.8rem;
				width: 14.5rem;
				height: 3.8rem;
				font-size: 1.6rem;
				font-weight: 700;
		
	}
		}
	}
	

}

// navigation-----------------------------------------------------



.overview{
	background-image: url("imgs/img.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 80rem;
	position: relative;
	.headers{
		width: 100%;
		padding-top: 10.8rem;		
		text-align: center;
		h1{
			color: white;
			margin: 0;
			font-size: 8.2rem;
			font-weight: 700;
		}
		
		.medium{
			color: #8d81ac;
			font-size: 3rem;
			font-family: 'Lato';

		}
		.small{
			color: #848e97;
			font-size: 1.6rem;
		}

	}
	.btn-download{
		position: absolute;
		width: 39rem;
		height: 6.2rem;
		color: white;
		border: none;
		background-color: #8d81ac;
		border-radius: 3rem;
		font-size: 2.1rem;
		font-weight: 700;
		bottom: -3.1rem;
		left: 50%;
		margin-left: -19.5rem;
		
	}
	
	
}
//==================================================================
.overview-lower{

	margin-top: 5rem;
	margin-bottom: 7rem;
	text-align: center;
	.little-text{
			color: #848e97;
			font-size: 1.4rem;
		}
	h1{
		color: #635c73;
		font-size: 5.4rem;
		margin-top: 6.6rem;
		margin-bottom: 3.9rem;
		font-weight: 700;
	}
	.description{
		color: #323232;
		font-family: "Source Sans Pro";
		font-size: 2.1rem;
		margin-bottom: 3.6rem;
	}
	
	
}

// about-slider================================================================
.about{
	background-color: white;
	margin-bottom: 7.9rem;
		
	.container-fluid{

		.about-background{
			background-color: #f4f4f4;
			padding: 8rem 0 0 0;

		}
		padding:0;
		h1{
		margin:0 0 5rem 0;
		color: #8d81ac;
		font-size: 4.8rem;
		font-weight: 700;
		line-height: 0.7;

		}
		h3{
			margin: 0 0 1.5rem 0;
			font-size: 1.6rem;
			color: #323232;
		}
		p{
			margin: 0 0 3.6rem 0;
			color: #848e97;
			font-size: 1.4rem;
			line-height: 2.1rem;
		}

		.carousel-indicators{
			position: absolute;
			top: 2rem;
			left: 6rem;
			li{
				margin-right: 0.5rem;
				border-color: black;
			}
		}
		.item img{
			height: 58rem;
			width: 70.5rem;
			border-radius: 0.5rem;
		}
	}
	.opinions{
		background-color: white;
		text-align: center;
		padding-top: 8.6rem;
		
		.one-slide{

			.row{
				margin-bottom: 4.8rem;
				.image-slider{
				text-align: right;
				}
				.user-name{
					text-align: left;
					h3{
						margin-bottom: 0.4rem;
						font-weight: 700;
						color: #635c73;
						font-size: 2.4rem;
					}
					p{
						color: #8d81ac;
						font-size: 1.6rem;
					}
				}

			}
			.comment{
				position: relative;
				.plus{
					position: absolute;
					top:  0.5rem;
					right: -8rem;
					cursor: pointer;

				}
				.minus{
					position: absolute;
					top: 0.5rem;
					left: -8rem;
					cursor: pointer;

				}
				p{
				font-family: "Source Sans Pro";
				font-size: 2rem;
				color: #333333;
				span{
					color: #8d81ac;
					}
				}
				footer p{
					color: #848e97;
					font-family: Montserrat;
					font-size: 16px;
				}
			}
		}
		.links{
			padding-top: 13.3rem;
			.links-wrapper{
				p{
					color: #848e97;
					font-size: 1.4rem;
					margin-top: 1rem;
				}				
				a{
					text-decoration: none;
					div{
						position: relative;
						width: 100%;
						height: 50px;
						border-radius: 3px 4px 4px 3px;
						padding: 1rem 0;
						i{
							position: absolute;
							top: 50%;
							margin-top: -1.05rem;
							left: 2.4rem;
							font-size: 2.1rem;							
						}
						p{
							font-size: 2.1rem;
							margin: 0 auto;
						}
				
				

					}
					.git{
						background-color: #f3f3f3;						
						p{
							color: black;
						}
						i{
							color: black;
						}
					}
					.twitter{
						background-color: #26a6d1;
						p{
							color: white;
						}
						i{
							color: white;
						}
					}
					.fb{
						background-color: #3b5998;
						p{
							color: white;
						}
						i{
							color: white;
						}
					}
				}
					
			}
		}
	}
	

}
// buying-options===================================================

.buying-options{
	background-image: url('imgs/layer-1.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	background-color: #4b3b4e;
	padding-top: 9.8rem;
	header{
		margin-bottom: 8.3rem;
		h1{
			font-size: 4.8rem;
			font-weight: 700;
			color: white;		
		}
	}
	.blocks{
		#high-logo{
			padding: 0;
		}
		.img-wrapper{
			height: 6.6rem;
			padding: 1rem 0;
			margin-bottom: 2.5rem;
			
		}
		.p-wrapper{
			font-family: "Source Sans Pro";
			font-size: 1.6rem;
			font-weight: 700;
			color: white;
			margin-bottom: 5rem;
		}
		
	
	}
	.underline{
			margin-top: 9.8rem;
			display: inline-block;
			margin-top: 5rem;
			width: 60%;
			height: 0.1rem;
			opacity: 0.2;
			background-color: #c7c7c7;
		}
}

//subscription=====================================================

.subscription{
	background-image: url('imgs/layer-2.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #4b3b4e;
	padding: 3rem 0 3rem 0;
	text-align: center;
	color: white;
	header{
		margin-bottom: 12rem;
		h1{
			font-size: 4.8rem;
			font-weight: 700;
			
		}
	}
	.pricing-inner{
		margin-bottom: 13.3rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		
			.offer{

			margin: 0 1rem 4rem 0;
			width: 25rem;
			height: 46rem;
			background-color: rgba(255, 255, 255, 0.11);
			.tittle-offer{
				display:table;
			  	width:100%;
				height: 10rem;
				background-color: rgba(255, 255, 255, 0.06);
				h3{
					display: table-cell;
					vertical-align: middle;
					color: #ffffff;
					font-size: 2.4rem;
				}
			}
			.price{
				height: 13rem;
				h1{
					margin: 3rem 0 2.5rem 0;
					color: #ffffff;
					font-size: 6rem;
				}
				p{
					opacity: 0.3;
					color: #ffffff;
					font-size: 1.4rem;
				}
			}

			.under{
				

				div{
					display: inline-block;
					height: 0.5rem;
					width: 23%;
					background-color: #8d81ac;

			}
			}
			.descr{
				height: 6rem;
				margin-top: 2.5rem;
				color: #ffffff;
				font-size: 1.6rem;
				line-height: 2.8rem;
			}
			.btn-buy{
				margin: 3rem 0;
				button{
					width: 16rem;
					height: 4.2rem;
					font-size: 1.5rem;
					border: none;
					color: #ffffff;
					background-color: rgba(255, 255, 255, 0.15);
					border-radius: 3rem;
				}
			} 
		}

	}
	footer{
		margin: 13rem 0 7.7rem 0;
		padding: 0 8rem 0 8rem;
		p{
			opacity: 0.8;
			color: #a291a5;
			font-family: "Source Sans Pro";
			font-size: 14px;
		}
	}
	
}
//footer=========================================================

.footer{
	background-color: #f4f4f4;
	.subscribe-footer{
		padding: 4rem 0;
		height: 13.4rem;
		margin: 0;
		label{
			font-size: 3rem;
			font-weight: 700;
			color: #635c73;
		}
		input{
			border-radius: 3rem;
			border: none;
		}
		button{
			border-radius: 3rem;
			background-color: #8d81ac;
			text-transform: uppercase;
			font-size: 1.3rem;
		}
	}
	.footer-blocks{
		padding-top: 8rem;
		background-color: white;
		h1{
			color: #d3d1da;
			font-size: 2.8rem;
			font-weight: 700;
			margin-bottom: 5.8rem;
		}
		p{
					color: #848e97;
					font-size: 1.3rem;
					margin-bottom: 1.4rem;
		}
		a{
			text-decoration: none;
		}
		h4{
			font-size: 1.6rem;
			margin-bottom: 2.3rem;
		}
		button{
			background-color: #f4f4f4;
			color: #8d81ac;
			border-radius: 0.4rem;
			border: none;
			text-transform: capitalize;
			margin-top: 3.6rem;
		}

		.footer-desc{
			padding: 0 4rem;
			.blocks-text{
				h4{
					color: #8d81ac;
				}
			}
			.left{
				h4{
					color: #323232;
				}
			}
		
			
		}
		.footer-under{
			margin-top: 5rem;
			height: 0.1rem;
			background-color: rgba(66, 134, 244, 0.2);
		}
	}
	footer{
		padding-top: 8rem;
		padding-bottom: 9rem;
		p{
			font-size: 1.4rem;
			color: #848e97;
			line-height: 2.1rem;
		}
		img{
			margin-bottom: 3.5rem;
		}
		h4{
			margin: 0 0 2.2rem 0;
		}
		ul{
			list-style-type: none;
			padding-left: 0;
			li{
				margin-bottom: 1rem;
				a{
					text-decoration: none;
					color: #8d81ac;
				}
			}
		}
		h1{
			margin: 0 0 1.4rem 0;
			font-size: 3rem;
			font-weight: 700;
			color: #3f3f3f;
		}
		.p-footer{
			font-size: 1.2rem;
		}

	}
}

// media queries-================================================
   

 @media screen and (min-width: 822px) and (max-width: 1038px){
		.subscription{
			.pricing-inner{				
					.offer{
					margin: 2rem 5rem;
					}
 			}
		}
	}

 @media screen and (min-width: 769px) and (max-width: 821px){
    		
		.subscription{
			.pricing-inner{				
					.offer{
					margin: 2rem 2rem;
					}
 			}
		}
    	.navigation{

    		.top{
				.btn-nav{
					button{
						width: 10rem;
					}
				}
    		}
    		
    		
    	}
		
		.overview-lower{
		h1{
			font-size: 4.5rem;
		}

		}
    	.about{
    		.about-background{
    			h1{
    				font-size: 4.5rem;
    			}
    		}
    	}
    	.footer{
			.footer-blocks{
				button{
					margin-bottom: 4rem;
				}
			}
			.subscribe-footer{
				label{
					font-size: 2rem;
				}
				
				button{			
					font-size: 1rem;
				}
			}
		}
  	}

   @media screen and (max-width: 769px){
    	#move{
						height: 3.28rem;
						width: 1.2rem;
						margin-left: -0.2rem;
					}
    	.navigation{
			padding-bottom: 0;
    		.top{
			
				.navbar-brand{
					height: 4rem;

					img{
	    			height: 3.28rem;
	    			width: 12.8rem;
    			}
				}
    			.btn-nav{
					display: none;
				}
    			}
				
    		}
    	.subscription{
    		button{
    			width: 100%;
    			font-size: 1.2rem;
    		}
    	}
    	.overview{
    		.headers{
    				h1{
    			font-size: 3.8rem;
    			margin-bottom: 1.5rem;
	    		}
	    		.medium{
	    			font-size: 2.1rem;
	    		}
	    		.small{
	    			font-size: 1.3rem;
	    		}
    		}
    		.btn-download{
    			width: 24rem;
    			margin-left: -12rem;
    		}
    	}
    	.overview-lower{
			h1{
				font-size: 3.8rem;
			}
			.description{
				font-size: 1.6rem;
			}

		}
    	.about{
    		
    		.about-background{
    			h1{
    				font-size: 4.5rem;
    			}
    		}
    		h1{
				text-align: center;
    		}
	
    		.opinions{
    			.one-slide{
    				.row{
    					.image-slider{
    						img{
    							width: 7.5rem;
    							height: 7.5rem;
    						}
    					}
    					.user-name{
		    				h3{
		    					font-size: 1.8rem;
		    				}
		    				p{
		    					font-size: 1.3rem;
		    				}
    					}
    				}
    			}
    			.links-wrapper{
    				i{
    					display: none;
    				}
    				p{
    					font-size: 1.6rem;
    				}
    			}
    		}
    	.buying-options{
    		header{
    			h1{
    				font-size: 3.8rem;
    			}
    		}
    	}
    	.subscription{
    		header{
    			h1{
    				font-size: 3.8rem;
    			}
    		}
    	}

    	}
    	.footer{
			.footer-blocks{
				button{
					margin-bottom: 4rem;
				}
			}
			.subscribe-footer{
				label{
					font-size: 2rem;
				}
				
				button{			
					margin-top: 0.5rem;
					font-size: 1rem;
				}
			}
		}
		footer{
			#media-margin{
				margin-top:3rem;
			}
		}
    	
    }
    .blur{
		filter: blur(5px);
  		-webkit-filter: blur(5px);
	}
	.disappear{
		display: none;
	}
    .container-form{
		position:fixed;
		top: 50%;
		margin-top: -25rem;
		left: 50%;
		margin-left: -25rem;
		width: 50rem;
		height: 50rem;
		background-color: #5d517b;
		border-radius: 3rem;
		font-family: 'Montserrat';
		color: white;
		text-align: center;
		z-index: 88;
		-webkit-box-shadow: -4px 10px 49px 23px rgba(0,0,0,0.75);
		-moz-box-shadow: -4px 10px 49px 23px rgba(0,0,0,0.75);
		box-shadow: -4px 10px 49px 23px rgba(0,0,0,0.75);
		.quit{
			position: absolute;
			font-size: 1.8rem;
			display: inline-block;
			right: -0.5rem;
			top: -0.4rem;
			button{

				height: 3rem;
				width: 3rem;
				border-radius: 100%;
				border: 2px solid;
				background-color: #3a324d;
			}

		}
		h1{
			font-size: 5rem;
			margin-bottom: 5rem;
		}
		.checkbox{
			text-align: left;
			padding-left: 4rem;
			margin-top: 3rem;
		}
		.btn-primary{

			margin-top: 4rem;
			display: inline-block;
			width: 25rem;
			height: 8.4rem;
			font-size: 3rem;
			border: none;
			color: #ffffff;
			font-family: 'Montserrat';
			background-color: #8d81ac;
			border-radius: 3rem;
		}
	}
	.fixed{
	top: 0;
	left: 0;
	height: 6rem;
	padding: 1rem 0;
	background-color: white;
	opacity: 1;
	
	
}	
   



@keyframes circular {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.5);
	}
}
 